## program to creat a tuple

In [31]:
t=(1,2,3,4)
print(t)

(1, 2, 3, 4)

## creat a tuple with different data type

In [7]:
t=("hii",1,2.0,"hello")
print(t)

('hii', 1, 2.0, 'hello')

## program to slice a tuple

In [12]:

t="good morning"
print(t[:5])

good

## program to find the length of a tuple

In [14]:
t=("i m a goood girl")
print(len(t))

16

## to convert a list to a tuple

In [19]:
l=[1,2,3,4,5,6,7]
print(tuple(l))

(1, 2, 3, 4, 5, 6, 7)

## to convert a tuple into a string

In [22]:
t=("Mom","i","love","u")
str= " ".join(t)
print(str)

Mom i love u

## convert a tuple to a dictionary

In [23]:
name=("amma","nanna")
number=[1,2]
t={}
for i in range(len(number)):
    t[name[i]]=number[i]
for ln in t:
    print(ln,t[ln])

amma 1
nanna 2

## convert list of tuples to a dictionary

In [25]:
name=(("amma","nanna"),("nanna","amma"))
number=[1,2]
t={}
for i in range(len(number)):
    t[name[i]]=number[i]
for fn,ln in t:
    print(fn,ln,t[fn,ln])

amma nanna 1
nanna amma 2

## program to reverse a tuple

In [30]:
t=(1,2,3,4,5,6)
for i in range(1,7):
    k=t[-i]
    print(k)

6
5
4
3
2
1

In [ ]:
,

good